body {
  background-image: url('https://img.freepik.com/foto-gratis/gafas-calculadora-tableta-blanco-escritorio-aseado_1387-287.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;}